<h2>Log in</h2>
<script src='https://www.google.com/recaptcha/api.js?render=6Ldj4X0UAAAAACCGGU2uLqm7znL0J2xNJbv3XjdE'></script>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<script>
grecaptcha.ready(function() {
grecaptcha.execute('6Ldj4X0UAAAAACCGGU2uLqm7znL0J2xNJbv3XjdE', {action: 'action_name'})
.then(function(token) {
// Verify the token on the server.
});
});
</script>
<%= flash[:recaptcha_error] %>
<%= recaptcha_tags %>
<%= render "devise/shared/links" %>
